/* style.css */
.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  font-family: 'Arial', sans-serif; /* Change the font family */
  font-size: 16px; /* Adjust the font size */
  color: #333; /* Set the font color */
}

.product-card:hover {
  transform: scale(1.05);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 30px;
}

.checkbox-container {
  margin-bottom: 20px;
}

.select {
  width: 20px;
  height: 30px;
  margin-left: 150px;
}
